* {
  padding: 0;
  margin: 0;
}
body {
    font-family: system-ui;
}
.navbar {
    padding: 10px;
    margin-bottom: 10px;
    background: deepskyblue;
}

.navbar-center {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: center;
}

.navbar-right{
    display: flex; 
    flex-direction: row; 
    align-items: right; 
    justify-content: right;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #eee;
}

a.active {
     text-decoration: underline; 
}